<ion-view title="Detail of {{comicTitle}}">

  <ion-content class="has-header">

    <div id="loadingCard" ng-show="showloadingCard" class="list card">
      <div class="item item-body">
        <p>Cargando datos <ion-spinner icon="dots"></ion-spinner></p>
      </div>
    </div>

  	<div id="resultCard" ng-show="showresultCard" class="list card">
    		<div class="item item-avatar">
      		<h2>{{comicTitle}}</h2>
      		<p>{{diamondCode}}</p>
        </div>

        <div class="item item-image">
         <img src="{{comicImg}}">
        </div>

       <div class="item item-body">
         <p>{{comicDesc}}
          </p>
        </div>
    </div>

  </ion-content>
</ion-view>
